<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Course Listing APP</title>
</head>

<body>
    {% if courselist %}
        <h2>List of Courses</h2>
        <ol>
            {% for course  in courselist %}
                <li> <a href="{% url 'myApp:detail' course.course_no %}">{{ course.title}}</a>  </li>

            {% endfor %}

        </ol>

    {% else %}
        <strong>There are no available courses!</strong>
    {% endif %}
 <p><a href="about0.html">About page</a></p>

<p><a href="{% url 'myApp:about' %}">About page namespacing</a></p>
</body>
</html>
